header{
    background-color: rgba(250, 255, 255, 0.35);
}
header h1{
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 1.0rem;
} 
nav{
    text-align: center;

}
section{
    margin-bottom: 1rem;
}
section h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
    background: #0984e3;
    color: white;
    padding-left: 1.0rem;
    border-radius: 0.8rem;
    margin-bottom: 1rem;
}
section h2:hover{
    background: #b2bec3;
    color: black;
    transition-duration: 0.5s;

}
section h2 a{
    color: white;
}
body{
    background-image: linear-gradient(-45deg, #ecf0f1, #55efc4, #273c75, #0984e3);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}

@keyframes gradient {
    0%{
        background-position: 0% 50%;
    }
    50%{
        background-position: 100% 50%;
    }
    100%{
        background-position: 0% 50%;
    }
}
main{
    max-width: 90rem;
    margin: 0 auto;
    box-shadow: 0 0 4.0rem rgba(0, 0, 0, 0.2),-3.0rem 0 4.0rem rgba(0,0,0,0.1);
    padding: 3rem;
    border-radius: 0.8rem;
    background-color: rgba(241, 242, 246, 0.6);
    margin-top: 3rem;
}
footer{
    max-width: 90rem;
    margin: 3.5rem auto;
}
section p{
    line-height: 2.5rem;
}
hr{
    border: 0;
    height: 0.1rem;
    background: #222;
    margin: 1.0rem;
}
details ul{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
details p{
    line-height: 2.5rem;
}
section .pres::before{
    font-family: 'Font Awesome 5 Free';
    content: "\f2bb";
    margin-right: 0.6rem;
}
section .comp::before{
    font-family: 'Font Awesome 5 Free';
    content: "\f7d9";
    margin-right: 0.6rem;
    font-weight: 900;
}
section .acad::before{
    font-family: 'Font Awesome 5 Free';
    content: "\f19d";
    margin-right: 0.6rem;
    font-weight: 900;
}
section .parpro::before{
    font-family: 'Font Awesome 5 Free';
    content: "\f1ad";
    margin-right: 0.6rem;
}
header h1::before{
    font-family: 'Font Awesome 5 Brands';
    content: "\f36e";
    margin-right: 0.6rem;
    font-size: 4rem;
}
details summary::-webkit-details-marker {
    display: none;
}
summary::before {
    content: "+";
    font-weight: bold;
    margin: -5px 5px 0 0;
    padding: 0;
    width: 20px;
    transition-duration: 0.5s;
}
details[open] summary::before{
    content: "-";
    transition-duration: 0.5s;
}
details:hover{
    cursor: pointer;  
}