header{
    background-color: #f9ffffc4;
}
header h1{
    text-align: center;
}
nav ul li{
    display: inline-block;
    padding: 1.0rem;
} 
nav{
    text-align: center;

}
section h2{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
body{
    background-image: url("../asset/fond-texture-blanc-elegant_23-2148431731.jpg");
}
main{
    max-width: 90rem;
    margin: 0 auto;
    box-shadow: 0 0 4.0rem rgba(0, 0, 0, 0.2),-3.0rem 0 4.0rem rgba(0,0,0,0.1);
    padding: 3rem;
    border-radius: 0.8rem;
    background-color: #f1f2f6;
}
footer{
    max-width: 90rem;
    margin: 3.5rem auto;
}
